.containers {
    padding: 0px;
    margin: 0px;
    float: right;
    width: 79%;
    padding-right: 5%;
}
.issue{
	margin:2px;
	max-width:100%;
	padding:20px;
    height: 30px;
    
}
.client .area{
	    padding: 0px;
    margin: 0px;
}

@media (max-width: 1600px) {
    .containers {
        width: 75%;
        padding-right: 4%;
    }
    ;
}

@media (max-width: 1400px) {
    .containers {
        width: 73%;
        padding-right 3%;: 
    }
    ;
}

@media (max-width: 1260px) {
    .containers {
        width: 70%;
        padding-right: 2%; 
    }
    ;
}

@media (max-width: 1150px) {
    .containers {
        width: 67%;
    }
    ;
}

@media (max-width: 1000px) {
    .containers {
        width: 63%;
        padding-right: 2%;
    }
    ;
}

@media (max-width: 900px) {
    .containers {
        width: 60%;
        padding-right: 3%;
    }
    ;
}

@media (max-width: 800px) {
    .containers {
        width: 90%;
        padding-right: 10%;
    }
    ;
}
